@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Unica+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap'); 


body {
  background-color:#28524F;
}

.leaf {
  margin-left:20px;
  width: 100px;
  height: 100px;
  display: inline;
}
.title {
position: absolute; 
margin-top: 30px; 
}

h1 {
  font-family: 'Unica One', cursive;
  font-size: 60px;
  display: inline;
  color:white;
}

ul {
  font-family: 'Permanent Marker', cursive;
  font-size:20px;
  list-style-type: none;
  margin: 0;
  padding: 100;
  display: flex;
  flex-wrap:wrap;
  justify-content:center;
  
}

a:link, a:visited {
  background-color: #81b29a;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  
}
a:hover, a:active{
  background-color: #55a630;
}


h2 {
  /* font-family: 'Roboto Slab', serif; */
  font-family: 'Unica One', cursive;
  font-size: 40px;
  color: white;
  display: flex;
  justify-content: center;
}

.statement {
  font-size:30px;
}

.about-quote {
  margin-right: 150px;
  margin-left: 180px;
}

p {
  /* font-family: 'Roboto Slab', serif; */
  font-family: 'Oswald', sans-serif;
  color: white;
  font-size:30px;
  display:flex;
  justify-content: center;
}

iframe{
 margin-left:520px;
 margin-right:200px;
  width:865px;
  height:487px;

}

.sealpic{
  display: block;
  margin: auto;
}
 
* {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}
.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Caption text */
.text {
  color:whitesmoke;
  font-family: 'Permanent Marker', cursive;
  font-size: 20px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/5 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

.nav-bar-options > li.active > a, 
.nav-bar-options > li.active > a:focus, 
.nav-bar-options > li.active > a:hover {
  background-color: #DC562E;
  color: #fff;
}

/* * {
  box-sizing: border-box;
} */

/* Create two equal columns that floats next to each other */
/* .column {
  width: 100%;
  padding: 10px;
} */

/* Clear floats after the columns */
/* .row:after {
  content: "";
  display: table; 
  clear: both;
} */

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
/* @media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
} */
.elepanda {
  height:300px;
  width:auto;
  object-fit:cover;
  margin:5px;
  margin-bottom: 25px;
  display:inline;
  display:flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.panda1{
  display:flex;
  flex-wrap: wrap;
  justify-content:center;
  height:300px;
  width:auto;
  object-fit:cover;
  margin-left:105px;
  margin-bottom: 25px;
}

.panda2 {
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  height:300px;
  width:auto;
  object-fit:cover;
  margin-left:100px;
  margin-bottom: 25px;
}

.panda3 {
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  height:300px;
  width:auto;
  object-fit:cover;
  margin-left:105px;
  margin-bottom: 25px;
}





.organizations{
  object-fit: cover;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
/* table */
table {
  color: #fff;
  border-collapse: collapse;
  width: 100%;
}

h1{
  color: #ebeb7e;
}

td, th {
  border: 1px solid #fff;
  text-align: left;
  padding: 8px;
}

/* travel section */
.column{
  float: left;
  width: 33.33%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* .travel-table{
  display: flex;
  justify-content: center;
} */

.pass-details{
  /* font-size: 25px; */
  height: auto; 
  width: 50%; 
}

.charity{
  height: auto;
  width: 100%;
  object-fit: cover;
}

.WWF {
  height: auto;
  width: 75%; 
  padding: 10px;
  margin-left: 40px; 
}

.WCS{
  height: auto; 
  width: 75%; 
  object-fit: cover; 
  padding: 10px;
  margin-left: 40px; 
}

.table{ 
  height: auto;
  width: 70px; 
  margin:0 auto;
  /* margin-left: 300px; 
  margin-right: 300px;  */
  padding: 100px; 
  
}

.junior {
  background-color: #e9c46a;
}

.adult {
  background-color: #f4a261;
}

.senior {
  background-color: #e76f51;
}

th {
  text-align:center; 
  font-size: 35px;
}

.age{
  text-align: center;
  font-size: 28px;
}

.info{
  height: auto;
  width: 50%; 
}

.voltable {
  height: auto;
  width: 70px;
  margin:0 auto; 
  /* margin-left: 300px; 
  margin-right: 300px;  */
  padding: 100px; 
}

.travel-table {
  margin:0 auto;
}

.nav-bar {
  margin-right: 30px; 
}

.travel{
  margin-bottom: 40px;
}

.financial-aid{
  margin-bottom: 30px;
}

.form-p{
  margin-bottom: 30px;
}
.formBtn{
  height: 75px;
  width: 175px;
  font-size: 20px;
  margin-left: 592px;
  background-color: #2a9d8f;
  color: white;
  border: 1px solid #28524F;
  border-radius: 3px;

}

.twopics {
  display: flex;
  flex-wrap:wrap;
  justify-content:space-evenly;
}

button:hover {
  background-color: #41c7b7;
  cursor: pointer;
}

.dropbtn {
  background-color: #55a630;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #81b29a ;
}

.dropdown {
  position: relative;
  display: inline-block;
  backround-color: #
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f4a261;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  background-color:ebeb7e;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #f4a261;}

.show {display: block;}

